

Dear students, in this homework, you will analyze the Titanic dataset. Please read the tasks carefully and ask any questions you have on Discord. The homework consists of 10 tasks with a total of 10 points, but bonus points may be awarded for accuracy in task 10. Good luck and have fun!

In [ ]:
import pandas as pd

##Task 1. Read the data and display top 5 rows(0.5 pt)

In [188]:
file_path = "/content/train.csv"
df = pd.read_csv(file_path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##Task 2. Print dataframe's columns names and dimensionality(0.5 pt)

In [189]:
columnsNames = df.columns.values
print("- Dataframe's columns names:\n", columnsNames)

print("\n-----------------------------\n")

rows , columns = df.shape
print("- Number of Rows:", rows)
print("- Number of Columns:", columns)

- Dataframe's columns names:
 ['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

-----------------------------

- Number of Rows: 891
- Number of Columns: 12

##Task 3. Calculate how many men and women are in the dataset (0.5 pt)

In [191]:
cnt = df["Sex"].value_counts()
print("- Number of men:", cnt["male"])
print("- Number of women:", cnt["female"])

- Number of men: 577
- Number of women: 314

#Task 4. Calculate survival rate for men and women (0.5 pt)

In [194]:
survival_rate = df.groupby('Sex')['Survived'].mean()
print("- Men survival rate:", survival_rate["male"])
print("- Women survival rate:", survival_rate["female"])

- Men survival rate: 0.18890814558058924
- Women survival rate: 0.7420382165605095

#Task 5. Group the data by Pclass and display statistics on Age and Fare (1 pt)

In [195]:
grouped_data = df.groupby('Pclass')

age_statistics = grouped_data['Age'].describe()
print("Age statistics:")
age_statistics.head(age_statistics.shape[0])

Age statistics:

        count       mean        std   min   25%   50%   75%   max
Pclass
1       186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
2       173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
3       355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [196]:
fare_statistics = grouped_data['Fare'].describe()
print("Fare statistics:")
fare_statistics.head(fare_statistics.shape[0])

Fare statistics:

        count       mean        std  min       25%      50%   75%       max
Pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

#Task 6. What is the most popular family name in the dataset (1 pt)

In [197]:
df['FamilyName'] = df['Name'].str.split(',').str[0]
family_name_counts = df['FamilyName'].value_counts()

most_popular_family_name = family_name_counts.index[0]
cnt = family_name_counts.values[0]

print("The most popular family name is:", most_popular_family_name)
print("Occurrences:", cnt)

The most popular family name is: Andersson
Occurrences: 9

##Task 7. What is the mean and std for all columns for survived male passengers (1 pt)

In [ ]:
survived = df[(df['Sex'] == 'male') & (df['Survived'] == 1)]

print("The mean for all columns for survived male passengers:")
print(survived.mean(numeric_only=True))
print("\n---------------------------------\n")
print("The standard deviation for all columns for survived male passengers:")
print(survived.std(numeric_only=True))

The mean for all columns for survived male passengers:
PassengerId    475.724771
Survived         1.000000
Pclass           2.018349
Age             27.276022
SibSp            0.385321
Parch            0.357798
Fare            40.821484
dtype: float64

---------------------------------

The standard deviation for all columns for survived male passengers:
PassengerId    244.717482
Survived         0.000000
Pclass           0.922774
Age             16.504803
SibSp            0.636952
Parch            0.645826
Fare            71.355967
dtype: float64

#Task 8. Display rows from 40th to 60th (in numeration from zero) (1 pt)

In [201]:
df2 = df.iloc[40:61].reset_index(drop = True)
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilyName
0,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,Ahlin
1,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,Turpin
2,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,Kraeff
3,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,Laroche
4,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,Devaney
5,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,Rogers
6,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q,Lennon
7,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q,O'Driscoll
8,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C,Samaan
9,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,Arnold-Franchi
10,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S,Panula
11,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8000,NaN,S,Nosworthy
12,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,Harper
13,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0,1,0,2926,26.0000,NaN,S,Faunthorpe
14,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C,Ostby
15,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,Woolner
16,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,NaN,S,Rugg
17,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C,Novel
18,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S,West
19,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9000,NaN,S,Goodwin
20,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C,Sirayanian

##Task 9. Sort the table by Fare in descending order (1 pt)

In [204]:
df.sort_values("Fare", ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilyName
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,Ward
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,Lesurer
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,Cardeza
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S,Fortune
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Fortune
...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,S,Parr
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S,Cunningham
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,Reuchlin
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,S,Knight
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0000,NaN,S,Watson

##Task 10 Implement simple model to predict whether the person have survived according to knowledge you got from data analysis. Then calculate accuracy of your predictions on the dataset. Try to maximize accuracy (a student with maximum accuracy will recieve additional points). For example, the simplest model may look like (df["predict_survived"] = df["Sex"] == "male") (3 pt)

In [205]:
df['predict_survived'] = ((df['Sex'] == 'female') |
 ((df['Sex'] == 'male') & (df['Age'] > 50) & (df["Fare"] >= 90) & (df['Embarked'] == 'S') & ((df["SibSp"] == 1) | (df["SibSp"] == 0)))).astype(int)


predictions = (df["predict_survived"] == df["Survived"]).sum()
accuracy = predictions / len(df)
print(accuracy)

0.7856341189674523